<div class="card" *ngIf="card">
  <div>
    <div><img class="image" [src]="card.image" /></div>
  </div>
  <div class="display_items">
    <div class="line_display">▹ ID : {{ card.id }}</div>
    <div class="line_display">▹ NAME : {{ card.name }}</div>
  </div>
  <div class="display_items">
    <div class="line_display">▹ ALIVE ? {{ card.status }}</div>
    <div class="line_display">▹ GENDER : {{ card.gender }}</div>
  </div>
  <div class="display_items">
    <div class="line_display">▹ ORIGIN : {{ card.origin.name }}</div>
    <div class="line_display">▹ SPECIES : {{ card.species }}</div>
  </div>
  <div>
    <div class="line_display">▹ WHICH EPISOD ? {{ card.episode }}</div>
    <div class="line_display">▹ FROM WHERE ? {{ card.location.name }}</div>
  </div>
</div>

<!--

-->
