<div class="entete">
  <div><h1>RICK & MORTY</h1></div>
  <div class="countdown_button">
    <div class="countdown_text">
      <h1>
        You can "play" again in : <br />
        {{ countdown }} seconds
      </h1>
    </div>
    <div>
      <app-button
        #btn
        [title]="playButton"
        [buttonDisabled]="buttonDisabled"
        (click)="displayTheCard()"
      ></app-button>
    </div>
  </div>
  <div *ngIf="cardToDiplay">
    <app-card class="card" [card]="cardToDiplay"></app-card>
  </div>
</div>
