.countdown_button {
  margin: auto 0px;
  padding: 10%;
  display: flex;
  background-color: aqua;
}

.countdown_text {
  margin-left: 50px;
}

.card {
  background-color: blueviolet;
  margin: auto 0px;
}
