.div_title {
  padding: 2%;
  background-color: aqua;
}
.title {
  background-color: aqua;
}
.countdown_button {
  margin: auto 0px;
  padding: 10%;
  display: flex;
  background-color: aqua;
}

.countdown_text {
  margin-left: 50px;
}
