<div>
  <div class="div_title"><h1 class="title">RICK & MORTY</h1></div>
  <div class="countdown_button">
    <div>
      <app-button
        #btn
        [title]="playButton"
        [buttonDisabled]="buttonDisabled"
        (click)="displayTheCard()"
      ></app-button>
    </div>
    <div class="countdown_text">
      <h1>
        {{ canOrCannot }}
        <br />
        {{ countdown }} seconds !
      </h1>
    </div>
  </div>
  <div *ngIf="cardToDiplay">
    <app-card class="card" [card]="cardToDiplay"></app-card>
  </div>
</div>
